
.hero-slider{
    width:100%;
    height:810px;
    
}
.hero-slider img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.hero-slider .swiper-pagination-bullet-active {
    background: var(--cream-500);
    opacity: var(--swiper-pagination-bullet-opacity,1);
}

.hero-slider .swiper-horizontal>.swiper-pagination-bullets,
.hero-slider .swiper-pagination-bullets.swiper-pagination-horizontal,
.hero-slider .swiper-pagination-custom,
.hero-slider .swiper-pagination-fraction {
    bottom: 2rem;
    left: 0;
    top: var(--swiper-pagination-top,auto);
    width: 100%;
}


.banner-line{
    background-color: var(--cream-0);
}
.banner-line .common-frame{
    display: flex;
    height:5rem;
    align-items: center;
    justify-content: center;
    gap:7.5rem;
}
.banner-line .common-frame span{
    font-size: var(--fs-body2);
}
.banner-line .common-frame span+h4{
    font-size: var(--fs-body1);
    font-weight: var(--fw2);
}
.btn-style{
    padding:0 0.75rem;
    height:1.5rem;
    display: flex;
    gap:1rem;
    align-items: center;
    background-color: var(--cream-100);
    border:1px solid var(--gray-800);
    border-radius: 100px;
    font-size:var(--fs-body2);
    white-space: nowrap;
    flex-shrink: 0;
}
.btn-style img{
    height:0.875rem;
}

.con1{
    padding:var(--space-3x-large) 0;
}
.title{
    text-align: center;
    color:var(--gray-800);
    display: flex;
    flex-direction: column;
    gap:2rem;
    align-items: center;
    margin-bottom: 3rem;
}
.title h1{
    font-weight: var(--fw2);
}
.title span{
    width:1rem;
    height:0.125rem;
    background-color: var(--gray-800);
}
.cardlist-wrap{
    width:100%;
}
.cardlist >li>a{
    display: block;
    line-height: 0;
    overflow: hidden;
    border-radius: .5rem;
    position: relative;
}
.cover{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index: 10;
    background:linear-gradient(rgba(50, 45, 45, 0.2) 0%,rgba(64, 48, 48, 0.4) 50%,rgba(64, 48, 48, 0.2) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-weight: var(--fw2);
    transition:all 0.5s ease 0s;
}
.cover:hover{
    opacity: 0;
}
.cardlist>li>a img{
    transition: all 0.5s ease 0s;
}
.cardlist>li:hover>a img{
    transform: scale(1.1);
}

.review-story>li>figure{
    line-height: 0;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 1.75rem;
}
.story-txt{
    border-bottom:1px dotted var(--gray-300);
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    margin-bottom: 2rem;
}
.story-product figure{
    border:1px solid red;
    width:6.25rem;
    height:6.25rem;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
}
.like-badge{
    position: absolute;
    right:0.25rem;
    top:0.25rem;
    border:1px solid blue;
    font-size: var(--fs-body2);
    display: flex;
    align-items: center;
}
.story-product>a{
    display: flex;
    gap:1rem;
}
.product-name{
    margin-bottom: .5rem;
    color:var(--gray-800);
    font-weight: var(--fw2);
}
.product-category{
    margin-bottom: .5rem;
    color:var(--gray-700);
}
.pay-original{
    color:var(--gray-500);
    font-size: var(--fs-body2);
}
.pay-original span{
    text-decoration: line-through;
}
.pay-discount{
    display: flex;
    align-items: center;
    gap:0.5rem;
}
.discount{
    font-size: var(--fs-body2);
}


@media (max-width:1250px){
    .banner-line .common-frame{
        justify-content: space-between;
        gap:initial;
    }
}
@media (max-width:1024px){
    .hero-slider{
        width:100%;
        height:900px;
    }
}
@media (max-width:768px){
    .hero-slider{
        width:100%;
        height:500px;
    }
    .banner-line .common-frame span{
        display: none;
    }
    .banner-line .common-frame p{
        display: none;
    }
}
@media (max-width:340px){
    .banner-line .common-frame{
        gap:1rem;
    }
}